@-webkit-keyframes colorchange {
    0% {background-color: red;}
    50% {background-color: blue;}
    100% {background-color: red;}
}
@keyframes colorchange {
    0% {background-color: red;}
    50% {background-color: blue;}
    100% {background-color: red;}
}
@-webkit-keyframes titlemove{
    0%{left:200%}
    55%{transform: rotate(11deg);}
    60%{left:0%;transform: rotate(11deg);}
    67%{transform: rotate(13deg);}
    70%{transform:rotate(13deg);}
    75%{transform:rotate(-5deg);}
    77%{transform:rotate(0deg);}
    80%{transform:rotate(4deg);}
    84%{transform:rotate(0deg);}
    89%{transform:rotate(-3deg);}
    95%{transform:rotate(0deg);}
    100%{left:0%;}
}
@keyframes titlemove{
    0%{left:200%}
    55%{transform: rotate(11deg);}
    60%{left:0%;transform: rotate(11deg);}
    67%{transform: rotate(13deg);}
    70%{transform:rotate(13deg);}
    75%{transform:rotate(-5deg);}
    77%{transform:rotate(0deg);}
    80%{transform:rotate(4deg);}
    84%{transform:rotate(0deg);}
    89%{transform:rotate(-3deg);}
    95%{transform:rotate(0deg);}
    100%{left:0%;}
}
@-webkit-keyframes linkhover {
    0%{}
    50%{background-color: rgba(22, 122, 214, 0.75);}
    100%{}
}
@keyframes linkhover {
    0%{}
    50%{background-color: rgba(22, 122, 214, 0.75);}
    100%{}
}
@-webkit-keyframes buttonhover {
    0%{}
    100%{background-color: rgba(214, 22, 48, 0.75);}
}
@keyframes buttonhover {
    0%{}
    100%{background-color: rgba(214, 22, 48, 0.75);}
}
@-webkit-keyframes buttonswell {
    0%{}
    30%{transform: scale(1.2) translate(0px) rotate(0deg);}
    35%{transform: scale(1.2) translate(0px) rotate(0deg);}
    39%{transform: scale(1.2) translate(-5px) rotate(-1deg);}
    43%{transform: scale(1.2) translate(5px) rotate(1deg);}
    48%{transform: scale(1.2) translate(-5px) rotate(-1deg);}
    51%{transform: scale(1.2) translate(5px) rotate(1deg);}
    55%{transform: scale(1.2) translate(0px) rotate(0deg);}
    70%{transform: scale(1.2) translate(0px) rotate(0deg);}
    100%{}
}
@keyframes buttonswell {
    0%{}
    30%{transform: scale(1.2) translate(0px) rotate(0deg);}
    35%{transform: scale(1.2) translate(0px) rotate(0deg);}
    39%{transform: scale(1.2) translate(-5px) rotate(-1deg);}
    43%{transform: scale(1.2) translate(5px) rotate(1deg);}
    48%{transform: scale(1.2) translate(-5px) rotate(-1deg);}
    51%{transform: scale(1.2) translate(5px) rotate(1deg);}
    55%{transform: scale(1.2) translate(0px) rotate(0deg);}
    70%{transform: scale(1.2) translate(0px) rotate(0deg);}
    100%{}
}
@-webkit-keyframes rainbow {
    0%{color: red;}
    15%{color: orange;}
    30%{color: yellow;}
    45%{color: green;}
    60%{color: blue;}
    75%{color: indigo;}
    90%{color: purple;}
    100%{color: red;}
}
@keyframes rainbow {
    0%{color: red;}
    15%{color: orange;}
    30%{color: yellow;}
    45%{color: green;}
    60%{color: blue;}
    75%{color: indigo;}
    90%{color: purple;}
    100%{color: red;}
}
@-webkit-keyframes imagehovertopleft {
    0%{transform-origin: top left; z-index: 10; position: relative;}
    50%{transform-origin: top left; z-index: 10; position: relative;}
    100%{transform-origin: top left; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@keyframes imagehovertopleft {
    0%{transform-origin: top left; z-index: 10; position: relative;}
    50%{transform-origin: top left; z-index: 10; position: relative;}
    100%{transform-origin: top left; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@-webkit-keyframes imagehovertop {
    0%{transform-origin: top; z-index: 10; position: relative;}
    50%{transform-origin: top; z-index: 10; position: relative;}
    100%{transform-origin: top; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@keyframes imagehovertop {
    0%{transform-origin: top; z-index: 10; position: relative;}
    50%{transform-origin: top; z-index: 10; position: relative;}
    100%{transform-origin: top; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@-webkit-keyframes imagehovertopright {
    0%{transform-origin: top right; z-index: 10; position: relative;}
    50%{transform-origin: top right; z-index: 10; position: relative;}
    100%{transform-origin: top right; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@keyframes imagehovertopright {
    0%{transform-origin: top right; z-index: 10; position: relative;}
    50%{transform-origin: top right; z-index: 10; position: relative;}
    100%{transform-origin: top right; transform: scale(105%); margin-bottom: 15px; z-index: 10; position: relative;}
}
@-webkit-keyframes imagehoverbottomleft {
    0%{transform-origin: bottom left; z-index: 10; position: relative;}
    50%{transform-origin: bottom left; z-index: 10; position: relative;}
    100%{transform-origin: bottom left; transform: scale(105%); z-index: 10; position: relative;}
}
@keyframes imagehoverbottomleft {
    0%{transform-origin: bottom left; z-index: 10; position: relative;}
    50%{transform-origin: bottom left; z-index: 10; position: relative;}
    100%{transform-origin: bottom left; transform: scale(105%); z-index: 10; position: relative;}
}
@-webkit-keyframes imagehoverbottom {
    0%{transform-origin: bottom ; z-index: 10; position: relative;}
    50%{transform-origin: bottom ; z-index: 10; position: relative;}
    100%{transform-origin: bottom ; transform: scale(105%); z-index: 10; position: relative;}
}
@keyframes imagehoverbottom {
    0%{transform-origin: bottom ; z-index: 10; position: relative;}
    50%{transform-origin: bottom ; z-index: 10; position: relative;}
    100%{transform-origin: bottom ; transform: scale(105%); z-index: 10; position: relative;}
}
@-webkit-keyframes imagehoverbottomright {
    0%{transform-origin: bottom right ; z-index: 10; position: relative;}
    50%{transform-origin: bottom right ; z-index: 10; position: relative;}
    100%{transform-origin: bottom right ; transform: scale(105%); z-index: 10; position: relative;}
}
@keyframes imagehoverbottomright {
    0%{transform-origin: bottom right ; z-index: 10; position: relative;}
    50%{transform-origin: bottom right ; z-index: 10; position: relative;}
    100%{transform-origin: bottom right ; transform: scale(105%); z-index: 10; position: relative;}
}
@-webkit-keyframes circlehover{
    0%{}
    5%{transform: translate(0px, -30px);}
    10%{transform: translate(0px, 0px);}
    15%{transform: translate(0px, -10px);}
    20%{transform: translate(0px, 0px);}
    25%{transform: translate(0px, -5px);}
    30%{transform: translate(0px, 0px);}
    100%{}
}
@keyframes circlehover{
    0%{}
    5%{transform: translate(0px, -30px);}
    10%{transform: translate(0px, 0px);}
    15%{transform: translate(0px, -10px);}
    20%{transform: translate(0px, 0px);}
    25%{transform: translate(0px, -5px);}
    30%{transform: translate(0px, 0px);}
    100%{}
}
@-webkit-keyframes loadpage {
    0%{width: 0%;}
    98%{width: 100%;}
    100%{width:0%;}
}
@keyframes loadpage {
    0%{width: 0%;}
    98%{width: 100%;}
    100%{width:0%;}
}
div.loading {
    -webkit-animation: loadpage 1s forwards;
            animation: loadpage 1s forwards;
    background-color: greenyellow;
    height: 5px;
}
div.row-top img.img-responsive-top-left:hover {
    -webkit-animation: imagehovertopleft 0.5s forwards;
            animation: imagehovertopleft 0.5s forwards;
}
div.row-top img.img-responsive-top:hover {
    -webkit-animation: imagehovertop 0.5s forwards;
            animation: imagehovertop 0.5s forwards;
}
div.row-top img.img-responsive-top-right:hover {
    -webkit-animation: imagehovertopright 0.5s forwards;
            animation: imagehovertopright 0.5s forwards;
}
div.row-bottom img.img-responsive-left:hover {
    -webkit-animation: imagehoverbottomleft 0.5s forwards;
            animation: imagehoverbottomleft 0.5s forwards;
}
div.row-bottom img.img-responsive:hover {
    -webkit-animation: imagehoverbottom 0.5s forwards;
            animation: imagehoverbottom 0.5s forwards;
}
button {
}
div.imgbox {
    position: relative;
    padding: 0;
}
div.imgbox:after {
        position: absolute;
        content: '';
        opacity: 0%;
        width: 0;
        height: 0;
        right: 105%;
        bottom: 0;
        border-bottom: 2px solid teal;
        border-left: 2px solid teal;
    }
/*div.row-bottom img.img-responsive-right:hover {
    -webkit-animation: imagehoverbottomright 0.5s forwards;
            animation: imagehoverbottomright 0.5s forwards;
}*/
div.imgbox:hover {
    cursor: pointer;
}
div.imgbox:hover:after {
        transition: 0.1s, 0.4s, 0.4s;
        transition-delay: 0.6s, 0.6s, 1gis;
        transition-property: opacity, width, height;
        opacity: 100%;
        width: 107%;
        right: 0%;
        height: 100%;
}
.circle {
    background-color: red;
    -webkit-animation-name: colorchange;
            animation-name: colorchange;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: relative;
}
.circle:hover {
    -webkit-animation: colorchange 4s infinite forwards, circlehover 2s ;
            animation: colorchange 4s infinite forwards, circlehover 2s ;
}
div.jumbotron h1 {
    -webkit-animation: titlemove 2s;
            animation: titlemove 2s;
    position: relative;
}
div.jumbotron p {
    -webkit-animation: rainbow 10s infinite forwards;
            animation: rainbow 10s infinite forwards;
    text-shadow: 1px 0px #101010, -1px 0px #101010, 0px 1px #101010, 0px -1px #101010;
}
a:hover {
    -webkit-animation-name: linkhover;
            animation-name: linkhover;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
/*button:hover {/*button gets big then stays big*
    -webkit-animation: buttonhover 0.5s forwards, buttonswell 2s infinite;
            animation: buttonhover 0.5s forwards, buttonswell 2s infinite;/*Forward keeps the last state of the animation as the new current state*
    position: relative;
}*/